<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/wired-textarea/wired-textarea.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../bower_components/neon-animation/animations/fade-out-animation.html">
<link rel="import" href="./../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="./../bower_components/paper-item/paper-item.html">
<link rel="import" href="./../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="./../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="./../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="./../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="linus-chat">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      chat-messages{
          display: none;
      }
    paper-input {
        max-width: 400px;
        margin: auto;
    }
    iron-icon, div[suffix] {
        color: hsl(0, 0%, 50%);
        margin-right: 12px;
    }
    paper-button {
    font-family: 'Roboto', 'Noto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
  }
  paper-button.pink {
    color: var(--paper-pink-a200);
    --paper-button-ink-color: var(--paper-pink-a200);
  }
  paper-button.pink:hover {
    background-color: var(--paper-pink-100);
  }
  paper-button.indigo {
    background-color: var(--paper-indigo-500);
    color: white;
    --paper-button-raised-keyboard-focus: {
      background-color: var(--paper-pink-a200) !important;
      color: white !important;
    };
  }
  paper-button.indigo:hover {
    background-color: var(--paper-indigo-400);
  }
  paper-button.green {
    background-color: var(--paper-green-500);
    color: white;
  }
  paper-button.green[active] {
    background-color: var(--paper-red-500);
  }
  paper-button.disabled {
    color: white;
  }
  wired-textarea {
    margin: 0px auto;
    display: block;
  }
  paper-button{
    width: 72px;
    margin: 15px auto 0;
    display: block;
    text-align: center;
  }
  paper-dropdown-menu{
    width: 400px;
    margin: 0px auto;
    display: block;
  }
  .card{
        width: 70% !important;
        margin: 24px auto !important;
      }
      .lc-title{
        color: #ff6200;
        font-size: 26px;
        text-align: center;
      }
      .linus-chat{
        width: 70%;
        margin: 0px auto;
      }
      vaadin-grid{
        height: 250px;
        margin: 30px;
      }
      paper-button{
        background: #ff6200 !important;
      }
    </style>
    <div class="card">
<h1 class="lc-title">Please Select Linus Chat Group</h1>
      <paper-dropdown-menu id="user" label="User" on-iron-select="validate" >
        <paper-listbox slot="dropdown-content" selected="0">
            <paper-item>Please select user</paper-item>
          <paper-item>User1</paper-item>
          <paper-item>User2</paper-item>
          <paper-item>User3</paper-item>
          <paper-item>User4</paper-item>
        </paper-listbox>
      </paper-dropdown-menu><br>
      <paper-dropdown-menu  id="chatRoomDetails"label="ChatRoom Type" on-iron-select="validate">
        <paper-listbox slot="dropdown-content" selected="0">
          <paper-item>Please select Chat room type</paper-item>
          <paper-item value="{{chatRoomType1}}">Web Development</paper-item>
          <paper-item value="{{chatRoomType2}}">Release Management</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>
      
      <div id ="test1" style="display:none !important;">
          <!-- <h1>Chat </h1> -->
          <vaadin-grid items="[[orderData.chats]]">
                <vaadin-grid-column>
                    <template class="header">
                        <vaadin-grid-sorter path="senderName">Sender</vaadin-grid-sorter>
                    </template>
                    <template><a href="#" on-click="getData">[[item.senderName]]</a></template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">
                          <vaadin-grid-sorter path="chatMessage">Message</vaadin-grid-sorter>
                    </template>
                    <template>[[item.chatMessage]]</template>
                </vaadin-grid-column>
                <vaadin-grid-column>
                    <template class="header">
                          <vaadin-grid-sorter path="dateTime">Time</vaadin-grid-sorter>
                    </template>
                    <template>[[item.dateTime]]</template>
                </vaadin-grid-column>
          </vaadin-grid>
      <!-- Chat window start -->
        <iron-form id="form" >
            <form method="get" name="iron" action="htpp://10.117.189.234:8080/chat-room/<roomname>">
                <wired-textarea placeholder="Message Type Area" rows="3" auto-validate required  value="{{person.message}}"></wired-textarea>
                
                <paper-button raised class="indigo" on-tap="formSubmit">Send</paper-button>
            </form>
        </iron-form>
      <!-- Chat window end -->
    </div>
  </div>
    <iron-ajax id ="getDetails" url="src/chat-list.json" parms="" handle-as="json" on-response="_handleresponse"></iron-ajax>
    <iron-ajax auto id ="chatRoom" url="http://10.117.189.234:8080/chatroom" parms="" handle-as="json" on-response="chatRoomDetails"></iron-ajax>
      <paper-dialog id="dialog">
        <h2>Alert</h2>
        <p>Please Enter Required fields</p>
      </paper-dialog>
  
  </template>

  <script>
    class LinusChat extends Polymer.Element {
      static get is() { return 'linus-chat'; }
      static get properties() {
        return{
          chatType: {
            type: String,
            value:''
          },
          userId: {
            type: String,
            value:''
          },
          person: {
            type: Object,
            value: {}
          }
        }
      }
      formSubmit(){
        console.log(this.person);
        //this.$.form1.validate();
        if(this.person.message == "" || this.person.message == null){
          this.$.dialog.open()
        }
        else{
            this.$.form1.submit();
        }
      } 
      _handleresponse(data){
        this.orderData = data.detail.response; 
        console.log(this.orderData);
        this.$.test1.style.display="block";
     }

      chatRoomDetails(event, Request) {
        this.chatRoomType1 = Request.response.chatRoom[0];
        this.chatRoomType2 = Request.response.chatRoom[1];
      }

      validate(){
        if((this.$.chatRoomDetails.value !== "Please select Chat room type")&&
             (this.$.user.value !== "Please select user")){
                this.chatType = this.$.chatRoomDetails.value,
                 this.userId = this.$.user.value;
                
                this.$.getDetails.generateRequest();
             }
       }
    }

    window.customElements.define(LinusChat.is, LinusChat);
  </script>
</dom-module>